<!-- Start abstacle avoidance module -->
<launch>
  <!-- Start sensors-->
  <include file="$(find ai_robot_sensors)/launch/start_all.launch">
    <arg name="use_laser" value="$(arg hokuyo)" />
    <arg name="use_quanergy" value="$(arg quanergy)" />
    <arg name="use_velodyne" value="$(arg velodyne)" />
    <arg name="use_vision" value="$(arg vision)" />
  </include>

  <!-- Start agv modules -->
	<include file="$(find ranger_bringup)/launch/ranger_minimal.launch" if="$(eval arg('agv') == 'ranger')" />
	<include file="$(find autolabor_pro)/launch/start.launch" if="$(eval arg('agv')=='autolabor')" />
	<include file="$(find jiaolong_ros_wrapper)/launch/start.launch" if="$(eval arg('agv') == 'jiaolong')" />
	<include file="$(find rosaria)/launch/start.launch" if="$(eval arg('agv') == 'p3at')" />
	<include file="$(find scout_bringup)/launch/scout_minimal_uart.launch" if="$(eval arg('agv')=='scout')" />

  <!-- Start obstacle avoidance modules -->
  <arg name="paramfile" default="params_oa_quanergy.yaml" />
  <include file="$(find ai_robot_navigation)/launch/obsavoid.launch">
    <arg name="three_d" value="$(arg three_d)" />
    <arg name="param_file" value="$(arg paramfile)" />
  </include> 

  <!-- Start modules for moving around only -->
  <include file="$(find ai_robot_navigation)/launch/justmove.launch" />
</launch>
<!-- vim: set ft=xml noet : -->
