<!-- Start all core feature for gazebo simulation -->
<launch>
	<!-- Set log format -->
	<env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

	<arg name="agv" default="ranger_mini" />

	<!-- Start simulation environment for ranger_mini -->
	<include file="$(find ranger_mini_gazebo)/launch/ai_robot_ranger_gazebo.launch" if="$(eval arg('agv') == 'ranger_mini')" />

	<!-- Start amcl and mapserver -->
  <include file="$(find ai_robot_nav_demo)/launch/brainnav.launch">
    <arg name="sim" value="true" />
  </include>
	
  <!-- Start pose publisher -->
	<node name="posepub_node" pkg="ai_robot_localization" type="posepub">
    <remap from="slam/pose" to="est_pose"/>
	</node>
  <!-- Start navigation module -->
  <include file="$(find ai_robot_navigation)/launch/globalnav_amcl.launch">
    <arg name="sim" value="true" />
  </include>
  <include file="$(find ai_robot_navigation)/launch/obsavoid.launch">
    <arg name="sim" value="true" />
  </include>

  <!-- Launch remote control server -->
  <include file="$(find ai_robot_rctl_server)/launch/start_server.launch"/>

  <!-- Launch rosbridge websocket server connecting remote control server and client -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="output" value="log"/>
  </include>
</launch>
<!-- vim: set ft=xml noet : -->
